*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
}

:root{
    --black: #1e2328;
    --black-grey: #2a2e34;
    --black-yellow: #ffc300;
    --yellow: #ffd60a;
    --grey: #e5e5e5;
}

body, ul, li, a, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
}

/*
    /\/\/\/\/\/\/\ MENU /\/\/\/\/\/\/\
 */

.menu {
    background-color: var(--black);
    width: 100px;
    flex-shrink: 0;
}

/*
    /\/\/\/\/\/\/\ NAVIGATION /\/\/\/\/\/\/\
 */

.navigation{

}

/*
    /\/\/\/\/\/\/\ CONTAINER /\/\/\/\/\/\/\
 */

.container{
    background-color: var(--black-grey);
    width: 100%;
}

/*
    /\/\/\/\/\/\/\ BANNER /\/\/\/\/\/\/\
 */

.banner{

}