.contact{
    width: 50%;
}
.contact-form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form label{
    font-size: 30px;
}
.contact-form-input{
    width: 80%;
    margin-bottom: 10px;
    height: 60px;
    display: block;
    outline: none;
    border: 0;
    background-color: var(--black);
    border-bottom: 2px solid var(--black-yellow);
    font-size: 30px;
}
.contact-form-textarea{
    height: 200px;
    max-height: 400px;
    width: 80%;
    font-size: 30px;
    display: block;
    outline: none;
    border: 0;
    background-color: var(--black);
    border-bottom: 2px solid var(--black-yellow);
    resize: vertical;
}
.form-btn{
    background: none;
    width: 40%;
    height: 150px;
    font-size: 30px;
    font-weight: bold;
}